


.header{
    max-width: 100%;
    height: 90px;
    background: var( --black-bg);
    padding: 0 4%;
    position: relative;

}

.navbar{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.navbar__logo{
    height: 100%;
    display: flex;
    align-items: center;
    width: auto;
}

.logo__img{
    height: auto;
    width: 60%;
}

.navbar__dropdown-menu {
    display: flex;
    justify-content: flex-end ;
    position: fixed;
    padding: 40px;
    top: 90px;
    right: 0;
    width: 100%;
    height: 70vh;
    background: rgb(0, 0, 0);

    transform: translateX(100%); 
    opacity: 0;
    pointer-events: none;

    transition: transform 0.4s ease, opacity 0.8s ease;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.navbar__dropdown-menu.open {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
}

.dropdown-menu__link-list{
    display: flex;
    flex-direction: column;
    gap: 2%;
    list-style: none;
    color: var(--main-font-color);
}

.link-list__link{
    text-align: end;
    font-size: 1.5rem;

}

.menu__link-list{
    display: none;
}

@media (min-width: 768px){
    .navbar__burger-menu, .dropdown-menu__link-list{
        display: none;
    }


    .menu__link-list{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;
        color: var(--main-font-color);
        list-style: none;
       
    }
    .link-list__link{
        font-size: 1rem;

    }
}


@media (min-width: 1024px){
    .header{
        padding: 0;
    }

    .navbar{
        height: 100%;
        display: flex;
        align-items: center;
        margin-left: 10%;
        margin-right: 10%;
       
    }


}

@media (min-width: 1025px){
    .header{
        padding: 0;
    }

    .navbar{
        height: 100%;
        display: flex;
        align-items: center;
        margin-left: 15%;
        margin-right: 24%;
       
    }
    .menu__link-list{
        gap: 15%;
    }

    .logo__img{
        height: auto;
        width: 77%;
    }


}


