:root{
    --black-bg: black;
}

.header{
    max-width: 100%;
    height: 90px;
    background: var( --black-bg);
    padding: 0 4%;
    position: relative;

}

.navbar{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.navbar__logo{
    height: 100%;
    display: flex;
    align-items: center;
    width: auto;
}

.logo__img{
    height: auto;
    width: 60%;
}

.navbar__dropdown-menu{
    position: absolute;
    /* display: none; */
    opacity: 0;
    top: 90px;
    width: 70%;
    height: 100vh;
    background: rgb(0, 0, 0);
    transform: translateX(300px);
    transition: transform 0.4s ease, opacity 0.4s ease, visibility 0s 0.4s;
    visibility: hidden;
}

.navbar__dropdown-menu.open{
    /* display: flex; */
    opacity: 1;
    left: none;
    transform: translateX(50%);
    transition: transform 0.4s ease, opacity 0.4s ease;
    visibility: visible;

}