:root{
  --black-bg: black;
  
  --main-font-color: rgba(255, 255, 255, 0.827);
  --main-bg-color:  #141619;
}


*{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body{
  /* overflow-x: hidden; */
  /* background: rgba(0, 0, 0, 0.724); */
  background: black;
}
